body{
  background-image: url('../mijnProject/websit2/img/34.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container{
  margin-top: 200px;
}
.csc{
  margin-top: 20px;
  font-size: xx-large;
}
.btn-1{
  margin-top: 20px;
}