*{
  font-family: 'Courgette', cursive;
  font-family: 'Dancing Script', cursive;
}
h1{
  color: #BF3415;
}
h3{
  color: darkcyan;
}
.container{
  margin-top: 100px;
}
.h1-home{
  padding-bottom: 30px ;
}
.lead{
  padding-bottom: 20px ;
}